@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kiwi+Maru&display=swap');

/*lightbox.cssの読み込み */
@import url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Kiwi Maru', serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background-image:url("../images/bg.png");
	background-attachment: fixed;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
    text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}

/*キーフレーム*/
/*opa1（透明から着色状態に）*/

@keyframes opa1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*opa2（透明から着色状態に＆下からフェードイン）*/
@keyframes opa2 {
	0% {
		transform: translateY(180px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
	}
	40%,100% {
		opacity: 1;
	}
}

/*CSSスライドショー設定 */
@keyframes slide0 {
	0% {opacity: 1;}
	20% {opacity: 1;}
	30% {opacity: 0;}
	50% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
/*1枚目*/
@keyframes slide1 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	40% {opacity: 1;}
	50% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
/*2枚目*/
@keyframes slide2 {
	0% {opacity: 0;}
	20% {opacity: 0;}
	30% {opacity: 1;}
	60% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;}
}
/*3枚目*/
@keyframes slide3 {
	0% {opacity: 0;}
	40% {opacity: 0;}
	50% {opacity: 1;}
	80% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
/*4枚目*/
@keyframes slide4 {
	0% {opacity: 0;}
	55% {opacity: 0;}
	60% {opacity: 0;}
	70% {opacity: 1;}
	85% {opacity: 1;}
	95% {opacity: 0;}
	100% {opacity: 0;}
}

/*アニメーション要素のスタイル*/
.animation {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	animation-name: opa1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-delay: 0.5s;		/*出現するタイミング（秒後）*/
	animation-fill-mode: both;
	text-decoration: none;
}

/* ヘッダー
------------------------------------------------------------*/
#header{
	position: relative;
    overflow:hidden;
    width:100%;
	margin-top: 80px;
}

#top1 {
	clear: left;
	width: 65%;
	min-width: 375px;
	margin: 0 auto;
	margin-bottom: 6%;
	position: relative;
	z-index: 3;
}

#top2 {
	position:absolute;
	z-index: 4;
	top: 10%;
    right: 6%;
	width: 20%;
	min-width: 120px;
	max-width: 200px;
}

.top2 {
	animation-name: opa1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1.5s;	/*アニメーションの実行時間*/
	animation-delay: 1s;		/*出現するタイミング（秒後）*/
	animation-fill-mode: both;
}

#top3 {
	position:absolute;
	z-index: 4;
	top: 10%;
    left: 6%;
	width: 20%;
	min-width: 120px;
	max-width: 200px;
}

.top3 {
	animation-name: opa1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1.5s;	/*アニメーションの実行時間*/
	animation-delay: 2s;		/*出現するタイミング（秒後）*/
	animation-fill-mode: both;
}

#center-top {
	text-align : center;
	width: 100%;
}

video {
	filter: drop-shadow(0px 0px #000);
}

/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Kiwi Maru', serif;
}

img{
	width: 100%;
	height: auto;
}

section{clear:both;}

section h2{
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}

.background{
	font-size: 26px;
	font-weight: bold;
}

.inner{
	width: 94%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.col2 li{
	display: inline-block;
	width: 100%;
  	margin: 20px 0 20px 0;
}

/* SEC01 プロフィール */
.wrap{
	clear: both;
	width: 100%;
}

.bg{
	line-height: 0;
}

.txt h2{
	padding: 0 0 20px !important;
}

/* SEC02 動画 */
.col3 li{
	margin-bottom: 50px;
}

.col3 img{
	width: 100%;
	display: block;
	margin: -5px auto 20px;
}

.moive{
	position: relative;
}

.moivebutton{
	position: absolute;
	z-index: 2;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	width: 20% !important;
}

.moivebutton:hover{
    opacity: 0.8;
}

figure{
	width: 100%;
	margin: 0;
}

/* SEC03 デザイン */
.over{
    position: relative;
}
.over div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    opacity: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    transition: .3s;
}
.over:hover div{
    background: rgba(122, 122, 122, 0.5);
    opacity: 1;
}

/* SEC04 デッサン */
/*画像ブロック*/
#mainimg {
	clear: left;
	width: 70%;
	max-width: 550px;
	margin: 0 auto;
	position: relative;
}
/*３枚画像の共通設定*/
.slide1,.slide2,.slide3, .slide4 {
	width: 100%;
	animation-duration: 15s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;
	left:0px;
	top:0px;
	animation-fill-mode: both;
	animation-delay: 1s;
}
/*土台画像*/
.slide0 {
	position: relative;
	width: 100%;
	height: auto;
	animation-name: slide0;
}
/*１枚目*/
.slide1 {
	animation-name: slide1;
}
/*２枚目*/
.slide2 {
	animation-name: slide2;
}
/*３枚目*/
.slide3 {
	animation-name: slide3;
}
/*４枚目*/
.slide4 {
	animation-name: slide4;
}

#sec04{
	background: url(../images/bgSec04.jpg) no-repeat 100% 100% fixed;
	background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
}

/* SEC05 ThankYou */
#sec05{
	margin-bottom: 10%;
}

#sec05 h2{
	font-family: 'Balsamiq Sans', cursive;
}

/*PAGE TOP（↑）設定 */
/*通常時のボタンは非表示*/
body .nav-fix-pos-pagetop a {display: none;}
/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	z-index: 1;
	position: fixed;
	bottom: 20px;	/*下から20pxの場所に配置*/
	right: 3%;		/*右から3%の場所に配置*/
	background: #666;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事。0.6は60%色がついた状態。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	animation-name: opa1;	/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: both;	/*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*背景色*/
}


/* RESPONSIVE 設定 */

@media only screen and (min-width: 1200px){
	.inner{
		width: 1024px;
		padding-bottom: 120px;
	}
	section h2{
		padding: 70px 0 20px;
	}
	.txt h2{
		padding: 0 0 20px !important;
	}
}

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
    a#menu{
		display:none;
	}	

	.panel{
		display:block !important;
	}

	#mainnav{
		position:fixed;
		top: 0;
		width:100%;
		z-index:500;
	}

	#mainnav ul{
		text-align: right;
		padding-right: 30px;
	}

	#mainnav li{
		display: inline-block;
		padding: 45px 10px 20px;
		font-size: 15px;
		font-weight: 400;
	}
	
    #mainnav a{
		color: #000;
	}
	
	#mainnav.changeNav{
		background: rgba(255,255,255,.9);
		border-bottom: 1px solid #d1d1d1;
	}
	
	#mainnav.changeNav li{
		padding: 20px 10px;
	}

	/* SEC02 */
	.txt, .bg{
		width: 50%;
		float: left;
		display: table;
	}

	#sec02_02 .txt, #sec02_02 .bg{
		float: right;
	}

	.profimg {
		position: relative;
	}

	.vMid{
		position:absolute;
		vertical-align: middle;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		width: 86%;
		height: initial;
	}
	
	/* SEC03 */
	.col3{
		text-align: center;
	}

	.col3 li{
		display: inline-block;
		width: 30%;
		padding: 0 1.5%;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
	/* SEC05 */
	#sec05 h2{
		padding-top: 50px;
		font-size: 30px;
		font-weight:normal;
		text-align: center;
		text-decoration: none;
	}
}

@media only screen and (min-width: 641px){
	.col2 li{
		width: 40%;
		padding: 0 3%;
		vertical-align: top;
	}
}

@media only screen and (max-width: 799px){

    a#menu{
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		margin: 10px;
	}

	#menuBtn{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 18px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #7e88b0;
		transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 18px;
		height: 2px;
		background: #7e88b0;
		transition: .3s;
	}

	#menuBtn:before{
  		margin-top: -7px;
	}

	#menuBtn:after{
    	margin-top: 5px;
	}

	a#menu .close{
  		background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  		margin-top: 0;
	}

	a#menu .close:before{
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.col3 li{
		margin: 0 auto;
		display: block;
	max-width: 288px;
	}
}

@media only screen and (max-width: 1199px){
	section h2{
		padding: 50px 0 20px 0;
	}
	#sec01 h2{
		padding: 70px 0 20px;
	}
	.profimg {
		position: relative;
	}

	.vMid{
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		width: 85%;
		vertical-align: middle;
		height: initial;
	}
}